name: "Relatorio-Nomeados-TRF3-Real"

on:
  workflow_dispatch:

jobs:
  busca_trf3:
    runs-on: ubuntu-latest
    steps:
      - name: "1. Baixar Codigo"
        uses: actions/checkout@v4

      - name: "2. Instalar Python"
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: "3. Instalar Ferramentas (Requests/BS4)"
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: "4. Executar Busca no Diario Oficial"
        run: |
          python main.py --inicio "01/12/2024" --fim "19/02/2026" --secao "2" --busca "nomear|nomeação|Analista|Técnico|Polícia"
